* {
    border: solid red;
}

h3 {
    font-weight: bold;
}

.sidebar {
    width: 10%;
    float: left;
    background-color: grey;
}

.float-left {
    float: left;
    clear: left;
}

.float-right {
    float: right;
    clear: right;
}

